body {
    background-color: rgb(16, 16, 56);
}

.weather-card {
    width: 200px;
    height: 300px;
    background-color: aliceblue !important;
    border-radius: 30px;
    text-align: center;
}

.text1 {
    padding: 0;
    margin: 0;
}