<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To Be Arranged</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="weather-card">
      <div class="text1">
        <h1>Weather</h1>
        <h2>in</h2>
        <h2>{{ city }}</h2>
        <img class="weather-pic" src="../images/sunny.jpg" />
        <h3>{{ temp }}°C</h3>
        <h3>{{ weather }}</h3>
      </div>
    </div>

    <!-- <p>Hi the weather in {{ city }} is {{ weather }} right now.</p>
    <p>Its {{ temp }}°C outside</p>
    <p>The sun will set at {{ sunset }}</p> -->
  </body>
</html>
